.bike-details {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.bike-details-wrap {
  width: 100%;
}

@media screen and (max-width: 1920px) {
  .bike-details-wrap {
    max-width: 1700px;
  }
}

@media screen and (max-width: 1750px) {
  .bike-details-wrap {
    max-width: 1500px;
  }
}

@media screen and (max-width: 1550px) {
  .bike-details-wrap {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1250px) {
  .bike-details-wrap {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .bike-details-wrap {
    margin-top: 0;
  }
}
