.home-instagram {
  width: 100%;
  // background-color: rgb(9, 9, 9);
  // color: #FFF;
  padding-bottom: 40px;
  // border-top: 1px solid rgb(24, 24, 24);
}

.home-instagram-title {
  padding-left: calc(5% + 15px);
  font-size: 18px;
  font-weight: 600;
  padding-top: 80px;
  padding-bottom: 10px;
}

.home-instagram-infoWrap {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.home-instagram-infoImage {
  width: 100px;
  height: 100px;
  background: url("../../assets/images/landing/IGLogo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 3em;
}

.home-instagram-info {
  font-size: 18px;
  font-weight: 500;
  // color: #FFF;
  margin-right: 10px;
}

.verified {
  width: 20px;
  height: 20px;
  background: url("../../assets/images/icons/Verified.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.home-instagram-imagesWrap {
  width: 100%;
  padding: 80px;
  padding-top: 40px;
}

.home-instagram-imagesRow {
  width: 100%;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
}

.home-instagram-image {
  width: 29%;
  height: 100%;
  background-color: #fff;
  // box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.home-instagram-image1 {
  background: url("../../assets/images/landing/IG1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-instagram-image2 {
  background: url("../../assets/images/landing/IG2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-instagram-image3 {
  background: url("../../assets/images/landing/IG3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-instagram-image4 {
  background: url("../../assets/images/landing/IG4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-instagram-image5 {
  background: url("../../assets/images/landing/IG5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-instagram-image6 {
  background: url("../../assets/images/landing/IG6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 800px) {
  .home-instagram-imagesWrap {
    padding: 50px 40px;
  }
  .home-instagram-imagesRow {
    height: 200px;
  }
  .home-instagram-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .home-instagram-title {
    font-size: 14px;
  }
}
@media screen and (max-width: 550px) {
  .home-instagram-imagesWrap {
    padding: 35px 20px;
    justify-self: center;
  }
  .home-instagram-imagesRow {
    height: 150px;
    margin-bottom: 20px;
  }
  .home-instagram-infoWrap {
    padding: 0;
  }
  .home-instagram-title {
    padding-bottom: 20px;
  }
}
