.bikes-menu {
  width: 250px;
  height: 500px;
  padding-top: 5px;
}

.bikes-menu-wrap {
  width: 100%;
  padding-left: 20px;
}

.bikes-menu-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.bikes-menu-group {
  width: 100%;
  margin-bottom: 20px;
}

.bikes-menu-subTitle {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.bikes-menu-itemWrap {
  width: 100%;
  margin-bottom: 15px;
  margin-left: 5px;
}

.bikes-menu-primaryTextBox {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bikes-menu-addIcon {
  margin-right: 10px;
  font-weight: 600;
  display: none;
}

.bikes-menu-subIcon {
  margin-right: 10px;
  font-weight: 600;
  display: none;
}

.bikes-menu-text {
  font-size: 14px;
  font-weight: 600;
}
.bikes-menu-text:hover {
  font-weight: 700;
}

.bikes-menu-secondLevel {
  width: 100%;
  padding-left: 10px;
  display: none;
}

.active-level {
  display: block;
}

.bikes-menu-secondaryText {
  font-size: 12px;
  font-weight: 500;
  margin: 10px 0;
}
.bikes-menu-secondaryText:hover {
  font-weight: 600;
}

.bikes-menu-note {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  padding-right: 20px;
}

@media screen and (max-width: 1000px) {
  .bikes-menu {
    display: none;
  }
}
