.sign-in {
  width: 470px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  h2 {
    margin: 2em 0 0.5em;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .sign-in {
    width: 380px;
    .buttons {
      display: block;
    }
  }
}
