.nav-drawer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: -100vw;
  top: 0;
  background-color: #ed1c24;
  color: #fff;
  display: none;
  z-index: 1000;
  transition: left 0.2s ease-in;
}
.active-nav-drawer {
  left: 0;
}

.nav-drawer-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 20px;
}

//Categories
.nav-drawer-categories {
  width: 100%;
  height: 50px;
  display: flex;
}

.nav-drawer-exit {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.nav-drawer-bar {
  width: 55%;
  height: 2px;
  background-color: #fff;
  position: absolute;
}

.nav-drawer-bar1 {
  transform: rotate(45deg);
}

.nav-drawer-bar2 {
  transform: rotate(-45deg);
}
//Tabs
.nav-drawer-tabs {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-drawer-shop {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-drawer-shopText {
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.nav-drawer-insideSpecialized {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4e4e4e;
}

.nav-drawer-insideSpecializedText {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

//MenuItems
.nav-drawer-menu {
  width: 100%;
  position: relative;
}

.nav-drawer-menuList {
  margin-top: 20px;
}

.nav-drawer-menuItem {
  margin: 30px 0;
  font-weight: 600;
}

.nav-drawer-menuLink {
  color: #fff;
  font-size: 11px;
}

.nav-drawer-footer {
  position: absolute;
  width: 100%;
  bottom: 0%;
  text-align: center;
  white-space: nowrap;
  font-size: 10px;
  margin-bottom: 5px;
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .nav-drawer {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav-drawer-shop {
    width: 40%;
  }
  .nav-drawer-insideSpecialized {
    width: 60%;
  }
  .nav-drawer-insideSpecializedText {
    font-size: 12px;
  }
  .nav-drawer-shopText {
    font-size: 12px;
  }
}
