.home-big-image {
  width: 100%;
  height: 90vh;
  background: url("../../assets/images/landing/LandingBigImage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.home-big-image-titleWrap {
  padding-top: 2%;
  padding-left: 30px;
  position: relative;
  margin-right: 4em;
  text-align: right;
}

.home-big-image-title {
  font-size: 6vw;
  font-weight: 900;
  color: #fff;
  line-height: 8vw;
  text-align: right;
}

.home-big-image-title2 {
  font-size: 6vw;
  font-weight: 900;
  color: #fff;
  line-height: 8vw;
}

.home-big-image-textWrap {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 30px;
}

.home-big-image-text {
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 1000px) {
  .home-big-image {
    height: 75vh;
  }
  .home-big-image-title {
    padding-left: 30px;
    font-size: 80px;
    line-height: 90px;
  }
  .home-big-image-title2 {
    padding-left: 30px;
    font-size: 80px;
    line-height: 90px;
  }
}

@media screen and (max-width: 600px) {
  .home-big-image {
    padding-top: 12em;
  }
  .home-big-image-text {
    font-size: 12px;
  }
  .home-big-image-title {
    padding-left: 0px;
    font-size: 40px;
    line-height: 60px;
  }
  .home-big-image-title2 {
    padding-left: 0px;
    font-size: 40px;
    line-height: 60px;
  }
}
