.bikes-item-container {
  width: 30.5%;
  height: 25vw;
  max-height: 700px;
  margin: 0.7vw;
}

.bikes-item-info {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
}

.PreviewCard-Name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.bikes-item-price {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .bikes-item-container {
    margin: 1vw;
    width: 40%;
    height: 60vw;
  }
}

@media screen and (max-width: 600px) {
  .bikes-item-container {
    margin: 1vw;
    width: 100%;
  }
}
