.cart-icon {
  width: 18px;
  height: 18px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;

  .shopping-icon {
    width: 24px;
    height: 24px;
  }

  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 1px;
    left: 24px;
    background-color: #000;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 4px 7px;
    vertical-align: baseline;
  }
}
