.sign-up {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 55px 20px;
  h2 {
    margin: 2em 0 0.5em;
  }
  .title {
    margin: 10px 0;
  }
}

@media screen and (max-width: 600px) {
  .sign-up {
    width: 380px;
    .buttons {
      display: block;
    }
  }
}
