.bike-details-spec {
  width: 100%;
  background-color: #292929;
  display: flex;
  justify-content: center;
  padding: 0 40px;
  color: #fff;
  margin-bottom: 40px;
}

.bike-details-spec-wrap {
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.bike-details-spec-leftColumn {
  width: 300px;
  margin-right: 40px;
}

.bike-details-spec-downloadManuals {
  width: 250px;
  padding: 20px 15px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
  margin-top: 1.7em;
  cursor: pointer;
}
.bike-details-spec-downloadManuals:hover {
  background-color: #262626;
}

.bike-details-spec-manualsTitle {
  font-size: 14px;
  font-weight: 500;
}

.bike-details-spec-manualsw {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.bike-details-spec-manuals {
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0px;
  cursor: pointer;
}
.bike-details-spec-manuals:hover {
  color: #a5a5a5;
}

.bike-details-spec-rightColumn {
  width: auto;
  padding: 0px 20px;
}

.bike-details-spec-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.bike-details-spec-tableHeaderRow {
  width: 100%;
  margin-bottom: 10px;
}

.bike-details-spec-tableHeader {
  font-size: 16px;
  font-weight: 600;
}

.bike-details-spec-Table {
  margin-bottom: 40px;
}

.bike-details-spec-tableRow {
  width: 100%;
}

.item-spec-table-data {
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
}

.table-data-main {
  font-size: 10px;
  font-weight: 600;
  white-space: nowrap;
  width: 250px;
  padding: 5px;
  padding-left: 0;
  padding-top: 0;
  display: flex;
  align-self: flex-start;
  text-align: left;
}

.bike-details-spec-disclaimer {
  font-size: 12px;
  font-weight: 40d;
}

@media screen and (max-width: 1000px) {
  .bike-details-spec {
    padding: 0 20px;
  }
  .bike-details-spec-wrap {
    flex-direction: column;
  }
  .bike-details-spec-downloadManuals {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 700px) {
  .bike-details-spec-leftColumn {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .table-data-main {
    width: 150px;
  }
}
