.bike-details-item {
  width: 100%;
  position: relative;
}

.bike-details-item-wrap {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.bike-details-item-column2 {
  display: flex;
  padding-top: 1em;
}

.bike-details-item-name {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.bike-details-item-price-part {
  display: flex;
  align-items: center;
}

.bike-details-item-price {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0.2em;
}

.bike-details-item-partNumber {
  font-size: 14px;
  margin-right: 3em;
}
.bike-details-item-color {
  font-size: 14px;
}

.bike-details-item-buttonWrap {
  display: flex;
}

.bike-details-item-button {
  height: 50px;
  padding: 0 20px;
  margin: 0 5px;
  border: 1px solid #141414;
  background-color: transparent;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bike-details-item-wishList {
  font-size: 12px;
  margin-top: 15px;
  cursor: pointer;
}

.bike-details-item-wishList:hover {
  color: #d32e2e;
}

.bike-details-item-stock {
  font-size: 12px;
  margin-top: 15px;
}

@media screen and (max-width: 1000px) {
  .bike-details-item-wrap {
    flex-direction: column;
    padding: 30px 20px;
  }
  .bike-details-item-price-part {
    flex-direction: column;
    align-items: flex-start;
  }
  .bike-details-item-partNumber {
    margin: 0;
    margin-top: 10px;
  }
  .bike-details-item-column {
    width: 100%;
    flex-direction: column;
  }
  .bike-details-item-column2 {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .bike-details-item-color {
    align-self: flex-start;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .bike-details-item-buttonWrap {
    flex-direction: column;
  }
  .bike-details-item-button {
    margin: 5px 0;
  }
}

@media screen and (max-width: 600px) {
  .bike-details-item-name {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .bike-details-item-price {
    font-size: 14px;
  }
  .bike-details-item-partNumber {
    font-size: 12px;
  }
  .bike-details-item-color {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .bike-details-itemWrap {
    padding: 40px 20px;
  }
}
