.full-footer {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: #141414;
  color: #fff;
  z-index: 900;
}

.full-footer-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 255px;
}

//LEFT SIDE
.full-footer-left {
  width: 245px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 35px;
}

.full-footer-form {
  display: flex;
  margin-bottom: 20px;
}

.full-footer-formInput {
  border: none;
  width: 180px;
  height: 42px;
  padding: 10px;
  background-color: #4e4e4e;
  color: #fff;
  font-size: 14px;
  outline: none;
}

.full-footer-formSubmit {
  width: 65px;
  height: 42px;
  background-color: #d32e2e;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}
.full-footer-formSubmit:hover {
  background-color: rgb(179, 39, 39);
}

.full-footer-left-text {
  font-size: 12px;
  font-weight: 300;
  display: inline-block;
  margin: 5px 0;
}

.full-footer-terms {
  font-weight: 800;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
}

.full-footer-terms:hover {
  color: rgb(201, 201, 201);
}

//CENTER
.full-footer-center {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.full-footer-centerText {
  white-space: nowrap;
  margin: 0 10px;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
}
.full-footer-centerText:hover {
  color: #d32e2e;
}

//RIGHT SIDE
.full-footer-right {
  width: 230px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 35px;
}

.full-footer-right-retailerButton {
  width: 100%;
  height: 42px;
  margin-bottom: 20px;
  background-color: #4e4e4e;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.full-footer-right-retailerButton:hover {
  background-color: rgb(57, 57, 57);
}

.full-footer-socialTags {
  width: 75%;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.full-footer-socialTag {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.full-footer-socialTag:hover {
  width: 32px;
  height: 32px;
}

.full-footer-socialTag1 {
  background: url("../../../assets/images/icons/TwitterIcon.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.full-footer-socialTag2 {
  background: url("../../../assets/images/icons/InstagramIcon.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.full-footer-socialTag3 {
  background: url("../../../assets/images/icons/FacebookIcon.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.full-footer-socialTag4 {
  width: 22px;
  height: 22px;
  background: url("../../../assets/images/icons/YoutubeIcon.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

//COPYRIGHTS
.full-footer-copyRightsWrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-footer-copyRightsTop {
  display: flex;
  justify-content: space-between;
}

.full-footer-made-by {
  font-size: 14px;
  margin-bottom: 1em;
  display: flex;
  span {
    margin: 0 0.3em;
  }
  a {
    color: white;
    margin-left: 0.3em;
  }
  a:hover {
    color: #d32e2e;
  }
}

.full-footer-copyRights-text {
  font-size: 10px;
  font-weight: 600;
  color: #4e4e4e;
  margin: 0 5px;
  margin-bottom: 7px;
  cursor: pointer;
}
.full-footer-copyRights-text:hover {
  color: rgb(99, 99, 99);
}

.full-footer-copyRights-bottom {
  font-size: 10px;
  font-weight: 600;
  color: #4e4e4e;
  margin-bottom: 4px;
  white-space: nowrap;
}

@media screen and (max-width: 1920px) {
  .full-footer-wrapper {
    max-width: 1700px;
  }
}

@media screen and (max-width: 1750px) {
  .full-footer-wrapper {
    max-width: 1500px;
  }
}

@media screen and (max-width: 1550px) {
  .full-footer-wrapper {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1250px) {
  .full-footer-wrapper {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .full-footer {
    display: none;
  }
}
