.bikes-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.bikes-main-header {
  width: 100%;
  height: 55px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bikes-main-wrap {
  width: 100%;
  margin-top: 55px;
}

.bikes-main-headerInner {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bikes-main-headerTitle {
  font-size: 12px;
  padding-left: 30px;
}

@media screen and (max-width: 1920px) {
  .bikes-main-headerInner {
    max-width: 1700px;
  }
  .bikes-main-wrap {
    max-width: 1700px;
  }
}

@media screen and (max-width: 1750px) {
  .bikes-main-headerInner {
    max-width: 1500px;
  }
  .bikes-main-wrap {
    max-width: 1500px;
  }
}

@media screen and (max-width: 1550px) {
  .bikes-main-headerInner {
    max-width: 1200px;
  }
  .bikes-main-wrap {
    max-width: 1200px;
  }
}
.bikes-hero {
  width: 100%;
  height: 50vh;
  background: url("../../assets/images/bikes/BikesHero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bikes-hero-title {
  font-size: 40px;
  font-weight: 700;
  padding-left: 80px;
  color: #fff;
}

.bikes-content {
  width: 100%;
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 1250px) {
  .bikes-main-headerInner {
    max-width: 1000px;
  }
  .bikes-main-wrap {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .bikes-main-headerTitle {
    padding-left: 20px;
  }
  .bikes-main-header {
    height: 40px;
  }
  .bikes-main-wrap {
    margin-top: 40px;
  }
}

@media screen and (max-width: 800px) {
  .bikes-hero {
    align-items: flex-end;
  }
  .bikes-hero-title {
    padding-bottom: 50px;
    padding-left: 30px;
  }
}
