.section {
  position: relative;
  margin-bottom: 20px;
}

.section-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  padding-left: 1vw;
}

.section-cardWrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
