.full-nav {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 950;
}

.full-navWrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.full-nav-rowWrap {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.full-nav-rowWrap-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -- Top Row ------------- */
.full-nav-topRow {
  width: 100%;
  height: 35px;
  background-color: #141414;
  z-index: 10;
}
.full-nav-shippingOffer {
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  margin-left: 20px;
}

.full-nav-topUserToolsWrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.full-nav-retailerLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 100%;
  padding: 0 10px;
  margin-right: 20px;
  cursor: pointer;
}
.full-nav-retailerIcon {
  width: 15px;
  height: 15px;
  background: url("../../../assets/images/icons/LocationIcon.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.full-nav-retailerText {
  font-size: 10px;
  font-weight: 600;
  color: #fff;
}

.full-nav-englishWrap {
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-right: 20px;
  cursor: pointer;
}
.full-nav-flagIcon {
  width: 30px;
  height: 15px;
  background: url("../../../assets/images/icons/AmericanFlagIcon.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.full-nav-englishText {
  font-size: 10px;
  font-weight: 600;
  color: #fff;
}

.full-nav-signInButton {
  width: 110px;
  height: 100%;
  background-color: #4e4e4e;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.full-nav-signInButton:hover {
  background-color: rgb(57, 57, 57);
}

.full-nav-signOutButton {
  width: 110px;
  height: 100%;
  background-color: #eeeeee;
  color: #000;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.full-nav-signOutButton:hover {
  background-color: #4e4e4e;
  color: #fff;
}

/* -- Bottom Row ------------- */
.full-nav-bottomRow {
  width: 100%;
  height: 55px;
  background-color: #fff;
  position: relative;
  z-index: 10;
}

.full-nav-logo {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../../../assets/images/icons/SpecializedNavLogo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.full-nav-linkWrapper {
  text-align: center;
  height: 100%;
}

.full-nav-linkList {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-nav-linkItem {
  padding: 0 40px;
}

.full-nav-link {
  font-size: 11px;
  color: #141414;
  font-weight: 600;
  white-space: nowrap;
}
.full-nav-link:hover {
  color: #d32e2e;
}

.full-nav-bottomUserToolsWrap {
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 1em;
  top: 0;
}

.full-nav-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.full-nav-search {
  background: url("../../../assets/images/icons/SearchIcon.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.full-nav-cart {
  background: url("../../../assets/images/icons/ShoppingCartIcon.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

//SearchField
.full-nav-searchDrawer {
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  z-index: 5;
  transition: bottom 0.2s ease-in;
}

.ActiveSearch {
  bottom: -55px;
}

.full-nav-searchDrawerWrap {
  width: 75%;
  height: 80%;
}

.full-nav-searchForm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-nav-searchField {
  width: 88%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-nav-searchFieldInput {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid #141414;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  color: #141414;
  padding: 0 10px;
}

.full-nav-searchButton {
  width: 10%;
  height: 100%;
  border: 1px solid #141414;
  outline: none;
  font-size: 14px;
  font-weight: 200;
}
.full-nav-searchButton:hover {
  background-color: rgb(249, 249, 249);
  cursor: pointer;
}

@media screen and (max-width: 1920px) {
  .full-nav-rowWrap {
    max-width: 1700px;
  }
}

@media screen and (max-width: 1750px) {
  .full-nav-rowWrap {
    max-width: 1500px;
  }
}

@media screen and (max-width: 1550px) {
  .full-nav-rowWrap {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1250px) {
  .full-nav-rowWrap {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .full-nav {
    display: none;
  }
  .full-nav-rowWrap {
    margin-top: 60px;
  }
}
